*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

.one{
	height: 100%;
	width: 100px;
	/*max-height: 700px;*/
	/*min-height: 900px;*/
	/*min-width: 400px;*/
	/*max-width: 300px;*/
	background: green;
}