*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
    background-color: lightblue;
}

.clear{clear: both;}

/* MULTIPLE CLASSES */

/*

.bg{
    background: red;
}

.color{
    color: green;
}

*/


/* CSSOO */


.color.bg{
    color: green;
    background: red;
}
