*{
	margin: 0;
	padding: 0;
}

/*
*
*
Style for the content of our website
*
*
*/

html,body{
	height: 100%;
}


.bg{
	/*
	width: 100%;
	margin: 0 auto; 
	height: 30vw; /*30vw, 700px*/
	/* background-image: url('../images/sunset.jpg');
	/* background-size: cover;
	/* background-attachment: fixed; /*scoll*/
	/* background-color: red;
	/* background-repeat: no-repeat;
	

	/* background-size: cover; /*contain, 90px 30px*/
	/* background-repeat: no-repeat;
	/* background-position: center; /*right bottom, 110% 110%, -10% 200%*/
}


.box{
	width: 100%;
	margin: 80px auto;
	text-align: center;
	background-color: rgb(200,200,200);
	
	/*
	height: 2000px;
	background-color: rgb(100,100,100);
	*/
}

.item{
	width: 100%; /*33.3%*/
	/*margin-right: -4px;*/
	/*background: black;*/
	display: inline-block;
}

.item img{
	width: 16%;
}

.item p{
	background-color: purple;
	display: inline-block;
	/* margin-right: -4px; */
	text-align: right;
}

.last{
	margin-right: 0;
}