*{
	margin: 0;
	padding: 0;
}

/*
*
*
Style for the website's content
*
*
*/

html,body{
	height: 100%;
}


/*	HEADER'S DIMENSIONS


.header{
	width: 100%;
	min-width: 1280px;
	height: 200px;
	background: gray;
}


*/


/* ORDER OF PRIORITY ! */

/*

1) MIN-HEIGHT
2) MAX-HEIGHT
3) HEIGHT

*/


.article{
	margin: 0 auto;
	width: 1280px;
	height: 10%;
	max-height: 20%; 
	min-height: 50%;
	background: blue;
}
