*{
	margin: 0;
	padding: 0;
}

/*
*
*
Style for the website's content
*
*
*/

html,body{
	height: 100%;
}

.center{
	box-sizing: content-box; 
	width: 1280px;
	margin: 0 auto;
	background-color: gray;
}


.article{
	box-sizing: border-box;
	/*
	border-style: dotted;
	border-left-style: dotted; 
	border-width: 3px;
	border-color: rgb(255,0,0);
	border: 3px solid rgba(255,255,255,1); 
	*/
	border-bottom: 3px dotted rgb(255,0,0);
	vertical-align: top;
	/* margin: 10px 17px; */
	display: inline-block;
	margin-right: -4px;
	margin-top: 30px;
	width: 640px;
}