*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

/* CSS Universal Selector */

/*

div *{
	color: blue;
}

*/


/* CSS Positions */

.box{
	width: 500px;
	height: 500px;
	background: green;
	position: relative;
	left: 100px;
}

.box p{
	position: absolute;
	left: 0px;
	top: 0px;
}