/* VARIABLES */

$colorBg: rgb(100,100,100);
$font-Size: 19px; 
$family: tahoma;

/**/

/* NESTING  AND VARIABLES */

div{
	background: $colorBg;
	width: 300px;
	height: 300px;
	a{
		font-size: $font-Size;
		color: red;
		font-family: $family;
	}
	h2{
		background: orange;
	}
}

/**/